# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# App Configuration
APP_URL=https://ais-dev-4p7sh4idlipzf3foqhhq53-72918864691.asia-northeast1.run.app
SESSION_SECRET=a-very-secret-string
ADMIN_EMAIL=your-email@gmail.com
